<div class="about center hero-unit">
  <h1>Track My Campaign</h1>
  <p>
    A web database to help nonprofits track their data for the HEAL Cities Campaign, and other projects. This is (as of 3/8/2014) currently in the development and testing phase.
  </p>
  <p>
    Please <%= mail_to 'joe@joewestersund.net','contact me' %> to have a version of the database set up for your organization.
  </p>

</div>
