<div class="about center hero-unit">
  <h1>Track My Campaign</h1>
  <p>
    A web database to help nonprofits track their data for the HEAL Cities Campaign, and other projects.
  </p>
  <p>
    This application has been retired as of 12/31/2017. Please contact <%= mail_to 'joe.westersund@gmail.com', 'Joe Westersund' %>
    with any questions or if you would like a backup copy of your data</p>
  <p>Thank you for being a user of this application!</p>

</div>
