<div class="help">
  <h1>Cities Help</h1>

  <%= render 'contact_for_questions' %>

  <h2>Data Fields</h2>
  <p>
    <ul>
      <li>Name</li>
      <li>County</li>
      <li>State</li>
      <li>Jurisdiction Type (customizeable list defined for your database)</li>
      <li>League Division (customizeable list defined for your database)</li>
      <li>Population</li>
      <li>% Obesity</li>
      <li>KP Service Area (Yes/No)</li>
      <li>Under-Resourced or Disease Burdened (Yes/No)</li>
      <li>State Median Income</li>
      <li>City Median Income</li>
      <li>Minorities > 15% of Population?</li>
      <li>% White alone</li>
      <li>% not "White alone"</li>
      <li>% African American alone</li>
      <li>% American Indian and Alaska Native alone</li>
      <li>% Asian alone</li>
      <li>% Native Hawaiian and Other Pacific Islander alone</li>
      <li>% Some Other Race alone</li>
      <li>% Two or More Races</li>
      <li>General Plan / Policy Change in Progress? (Yes/No)</li>
    </ul>
  </p>
  <p>
    Different HEAL Cities nonprofits are tracking different demographics,
    so you may not use all these fields.
  </p>
  <p>
    As cities adopt resolutions or policies, or reach city designation (like Eager/Active/Fit,
    or Silver/Gold/Platinum depending on your nonprofit), you'll want to add records marking those
    <%= link_to "Successes", heal_help_successes_path %>.
  </p>
  <%= image_tag "cities.png", alt: "cities page screenshot"%>
</div>