<div class="help">
  <h1>Communications Help</h1>

  <%= render 'contact_for_questions' %>

  <h2>Data Fields</h2>
  <ul>
    <li>Date</li>
    <li>Duration (in minutes)</li>
    <li>Communication Type (a customizeable list defined for your database)</li>
    <li>Event Name</li>
    <li>Topics (a customizeable list defined for your database)</li>
    <li>Interest Level (how interested in HEAL Cities were the people you were talking to?)</li>
    <li>Contacts</li>
    <li>Others Involved</li>
    <li>Cities</li>
    <li>Staff Involved (who in your organization participated in this communication?)</li>
    <li>Notes</li>
  </ul>

  <%= image_tag "communications.png", alt: "communications page screenshot"%>
</div>