<div class="help">
  <h1>Communications Help</h1>

  <%= render 'contact_for_questions' %>

  <h2>Data Fields</h2>
  <ul>
    <li>Date</li>
    <li>Duration (in minutes)</li>
    <li>Communication Type (customizeable list defined for your database)</li>
    <li>Event Name</li>
    <li>Topics (customizeable list defined for your database)</li>
    <li>Interest Level (how interested in HEAL Cities were the people you were talking to? A
      customizeable list defined for your database)</li>
    <li>Contacts (who did you talk to?)</li>
    <li>Others Involved (a text field, for people you might not talk to again, and
      therefore don't want to take the time to enter them as contacts)</li>
    <li>Cities (which cities did you talk about?)</li>
    <li>Staff Involved (who in your organization participated in this communication?)</li>
    <li>Notes</li>
  </ul>

  <%= image_tag "communications.png", alt: "communications page screenshot"%>
</div>