<div class="help">
  <h1>Task Assignments Help</h1>

  <%= render 'contact_for_questions' %>


  <p>
    As you're working, you may want to set reminders for yourself or for your teammates.
    You might want to set up one of these:
  <ul>
    <li><%= link_to "Followup Task", heal_followup_tasks_path %>, a reminder linked to a contact and/or a communication,
      like a reminder to call someone back after a set amount of time</li>
    <li><%= link_to "City Milestone", heal_milestones_path %>, a goal linked to a city, to get them to reach a specific milestone.</li>
  </ul>
  </p>

</div>