th.angle-text {
  transform: rotate(-45deg);
  /*transform-origin: left top 0;*/
}

td.bold-white {
  a {
    font-weight: bold;
    color: #ffffff;
  }
}

td.bold-black {
  a {
    font-weight: bold;
    color: black;
  }
  a:hover {
    color: white;
  }
}

td.prior {
  background-color: #ffffff;
  a {
    color: blue;
  }
  a:hover {
    color: #ffffff;
  }
}

td.resolution {
  background-color: #ffffff;
  a {
    color: black;
  }
  a:hover {
    color: #ffffff;
  }
}

td.adopted-in-2010 {
  background-color: lightpink;
}

td.adopted-in-2011 {
  background-color: red;
}

td.adopted-in-2012 {
  background-color: royalblue;
}

td.adopted-in-2013 {
  background-color: gold;
}

td.adopted-in-2014 {
  background-color: purple;
}

td.adopted-in-2015 {
  background-color: green;
}

td.adopted-in-2016 {
  background-color: brown;
}

td.adopted-in-2017 {
  background-color: orange;
}

td.city-designation-1 {
 background-color: lightslategray;
}

td.city-designation-2 {
  background-color: greenyellow;
}

td.city-designation-3 {
  background-color: green;
}

td.city-designation-4 {
  background-color: blue;
}

td.city-designation-5 {
  background-color: darkblue;
}

td.city-designation-6 {
  background-color: orangered;
}