

div span.field_name {
  display: inline-block;
  font-weight: bold;
}

div.show_cities span.field_name {
  width: 400px;
}

div.show_contacts span.field_name {
  width: 200px;
}

div.show_communications span.field_name {
  width: 200px;
}